
@{
    ViewData["Title"] = "Contact";
    Layout = null;
}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="~/css/slick.css">

<link rel="stylesheet" href="~/css/jquery.fancybox.css" type="text/css" media="screen" />

<link id="switcher" href="~/css/theme-color/default-theme.css" rel="stylesheet">

<link href="~/css/style1.css" rel="stylesheet">


<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

<link href="~/css/bootstrap.css" rel="stylesheet" />

<link href="~/css/font-awesome.css" rel="stylesheet" />

<link href="~/css/basic.css" rel="stylesheet" />

<link href="~/css/custom.css" rel="stylesheet" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

<link href="~/css/ui.css" rel="stylesheet" />
<link href="~/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<link href="~/css/datepicker.css" rel="stylesheet" />
<link href="~/css/datatable/datatable.css" rel="stylesheet" />

<nav class="navbar navbar-default" id="hori" role="navigation" style="margin-bottom: 0;color: black;">
    <p style="font-family: 'Britannic Bold'; font-size: 35px;">
        <header id="mu-header" class="pull-right" style="margin-left: 10%">
            <div class="container">
                <div class="more pull-right">
                    <button id="more-btn " class="more-btn">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </button>
                    <div class="more-menu">
                        <div class="more-menu-caret">
                            <div class="more-menu-caret-outer"></div>
                            <div class="more-menu-caret-inner"></div>
                        </div>
                        <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
                            <li class="more-menu-item" role="presentation">
                                <a href=" ">User Profile</a>
                            </li>
                            <li class="more-menu-item" role="presentation">
                                <a href=" ">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    <p style="font-family: 'Britannic Bold'; font-size: 35px; margin-left:10%"><img src="~/images/img/logo.jfif" style="width: 5%; height:9%;" />ChildCare System</p>
</nav>

<!--====================start of Vertical Navigation Bar==============================-->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a href="/Home/Mainpage" style="background-color: darkgrey"><i class="fa fa-dashboard "></i><strong>Dashboard</strong></a>
            </li>
            <li>
                <a href="/Home/Student"><i class="fa fa-user "></i><strong>Student Details</strong></a>
            </li>
            <li>
                <a href="/Home/Camera"><i class="fa fa-camera "></i><strong>Camera View</strong></a>
            </li>
            <li>
                <a href="https://www.google.com/maps/12.9231502,74.7820225,12z"><i class="fa fa-location-arrow "></i> <strong>Location</strong></a>
            </li>
            <li>
                <a href="/Home/Contact"><i class="fa fa-university "></i><strong>Contact Us</strong></a>
            </li>
        </ul>
    </div>
</nav>


<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-success">

                            <h3 style="text-align:center;"><strong style="color: black;font-size: 40px;text-shadow: 2px 7px 2px darkgrey">Contact Admin</strong> </h3>


                            <div class="panel-body">
                                <div class="table-sorting table-responsive" style="display: flex;">

                                    <div class="panel-body">
                                        <br><br />
                                        <div class="table-sorting table-responsive" align="left">
                                            <!--  SHOW ENTRIES-->

                                            <form class="contactform" action="../database/insertcontact.php" method="post" style="width:100%">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <label>From <span class="required"></span></label>
                                                        </td>
                                                        <td>
                                                            <input readonly aria-required="true" value="Namratha S A" name="email">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="email">To <span class="required">*</span></label>
                                                        </td>
                                                        <td>
                                                            <input type="email" required="required" aria-required="true" value="" name="email">
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="comment">Message<span class="required">*</span></label>
                                                        </td>
                                                        <td>
                                                            <textarea required="required" aria-required="true" rows="4" cols="45" name="msg"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="submit" value="Send Message" class="mu-post-btn" name="submit"></td>

                                                    </tr>


                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                    <div>
                                        <img src="~/images/img/contact2.jpg" style="width: 80%; height:80%; border-radius: 10px;">

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    /* Page */

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .more-menu {
        width: 100px;
    }

    /* More Button / Dropdown Menu */

    .more-btn,
    .more-menu-btn {
        background: none;
        border: 0 none;
        line-height: normal;
        overflow: visible;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        width: 100%;
        text-align: left;
        outline: none;
        cursor: pointer;
    }

    .more-dot {
        background-color: #aab8c2;
        margin: 0 auto;
        display: inline-block;
        width: 7px;
        height: 7px;
        margin-right: 1px;
        border-radius: 50%;
        transition: background-color 0.3s;
    }

    .more-menu {
        position: absolute;
        top: 100%;
        z-index: 900;
        float: left;
        padding: 10px 0;
        margin-top: 9px;
        background-color: #fff;
        border: 1px solid #ccd8e0;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
        opacity: 0;
        transform: translate(0, 15px) scale(.95);
        transition: transform 0.1s ease-out, opacity 0.1s ease-out;
        pointer-events: none;
    }

    .more-menu-caret {
        position: absolute;
        top: -10px;
        left: 12px;
        width: 18px;
        height: 10px;
        float: left;
        overflow: hidden;
    }

    .more-menu-caret-outer,
    .more-menu-caret-inner {
        position: absolute;
        display: inline-block;
        margin-left: -1px;
        font-size: 0;
        line-height: 1;
    }

    .more-menu-caret-outer {
        border-bottom: 10px solid #c1d0da;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        height: auto;
        left: 0;
        top: 0;
        width: auto;
    }

    .more-menu-caret-inner {
        top: 1px;
        left: 1px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #fff;
    }

    .more-menu-items {
        margin: 0;
        list-style: none;
        padding: 0;
    }

    .more-menu-item {
        display: block;
    }

    .more-menu-btn {
        min-width: 100%;
        color: #66757f;
        cursor: pointer;
        display: block;
        font-size: 13px;
        line-height: 18px;
        padding: 5px 20px;
        position: relative;
        white-space: nowrap;
    }

    .more-menu-item:hover {
        background-color: #489fe5;
    }

        .more-menu-item:hover .more-menu-btn {
            color: #fff;
        }

    .more-btn:hover .more-dot,
    .show-more-menu .more-dot {
        background-color: #516471;
    }

    .show-more-menu .more-menu {
        opacity: 1;
        transform: translate(0, 0) scale(1);
        pointer-events: auto;
    }
</style>
<script>
                                    var el = document.querySelector('.more');
                                    var btn = el.querySelector('.more-btn');
                                    var menu = el.querySelector('.more-menu');
                                    var visible = false;

                                    function showMenu(e) {
                                        e.preventDefault();
                                        if (!visible) {
                                            visible = true;
                                            el.classList.add('show-more-menu');
                                            menu.setAttribute('aria-hidden', false);
                                            document.addEventListener('mousedown', hideMenu, false);
                                        }
                                    }

                                    function hideMenu(e) {
                                        if (btn.contains(e.target)) {
                                            return;
                                        }
                                        if (visible) {
                                            visible = false;
                                            el.classList.remove('show-more-menu');
                                            menu.setAttribute('aria-hidden', true);
                                            document.removeEventListener('mousedown', hideMenu);
                                        }
                                    }

                                    btn.addEventListener('click', showMenu, false);</script>

