@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ChildCareSystem | User Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fontfaces CSS-->
    <link rel="stylesheet" href="~/css/css/themify-icons.css">
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/css/style1.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/img1/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/css/nice-select.css">
    <link rel="stylesheet" href="~/css/css/flaticon.css">
    <link rel="stylesheet" href="~/css/css/gijgo.css">
    <link rel="stylesheet" href="~/css/css/animate.css">
    <link rel="stylesheet" href="~/css/css/slicknav.css">
    <link rel="stylesheet" href="~/css/css/style.css">

    <script src="~/js/Userscript.js"></script>
</head>

<!-- header-start -->
<header>
    <div class="header-area">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 ">
                        <div class="social_media_links">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="short_contact_list">
                            <ul>
                                <li><a href="#"> <i class="fa fa-envelope"></i> ChildCaresys.com</a></li>
                                <li><a href="#"> <i class="fa fa-phone"></i> +91 9972074304</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/images/img/Logopic3a.jpg" style="width:40px; height:50px;" alt="">
                        </a>
                    </div>
                    <h2 style="font-family:'Baskerville Old Face';">Child Care System</h2>
                    <div class="col-xl-9 ">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="#home">Home</a></li>
                                    <li>
                                        <a>Campus <i class="fa fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="/Home/ClassRooms">Classroom</a></li>
                                            <li><a href="/Home/PlayGround">Playground</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/Home/About">About</a></li>
                                    <li><a href="/Home/Contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area" >
        <div class="slider_active owl-carousel" >
            <div class="single_slider  d-flex align-items-center slider_bg_2" style="height:80%">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text">
                               <h3>
                                   <span  style="color:white; font-family:'Berlin Sans FB'">Child care</span> <br>
                               </h3>
                                <p>
                                    Providing a quality childcare service in qan environment <br /> which is safe, caring and stimulating.
                                </p>
                                <a class="popup-with-form boxed-btn3" href="#test-form">Click here to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1"  style="height:80%">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>
                                    <span  style="color:white; font-family:'Berlin Sans FB'">Child care</span> <br>
                                </h3>
                                <p>
                                    If Child cannot learn in the way we teach, <br> we must teach in a way the child can learn.
                                </p>
                                <a class="popup-with-form boxed-btn3" href="#test-form">Click here to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_3"  style="height:80%">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>
                                    <span style="color:white; font-family:'Berlin Sans FB'">Child care</span> <br>
                                </h3>
                                <p>
                                    We must become what we wish to teach.
                                </p>
                                <a class="popup-with-form boxed-btn3" href="#test-form">Click here to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- slider_area_end -->

<!-- service_area_start -->
<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="fa fa-user-secret"></i>
                    </div>
                    <h3> 50 Teachers</h3>
                    <p>Safety  must be the priority for any children care service provider.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h3>300 students</h3>
                    <p>Safety  must be the priority for any children care service provider.</p>      
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="fa fa-building"></i>
                    </div>
                    <h3>15 ClassRoom</h3>
                    <p>afety  must be the priority for any children care service provider.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->

<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="~/images/img/classroom4.jpg" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="~/images/img/classroom5.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Welcome to ChildCare System</h2>
                    <h3>
                        Best Care For Your <br>
                        Children
                    </h3>
                    <p>
                        Esteem spirit temper too say adieus who direct esteem.
                        It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable projecting expression.
                    </p>
                    <ul>
                        <li> <i class="zmdi zmdi-arrow-left"></i> Apartments frequently or motionless. </li>
                        <li> <i class="zmdi zmdi-arrow-left"></i> Duis aute irure dolor in reprehenderit in voluptate.</li>
                        <li> <i class="zmdi zmdi-arrow-left"></i> Voluptatem quia voluptas sit aspernatur. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_docmed_area_end -->

<!-- offers_area_start -->
<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Our Features</h3>
                    <p>
                        Esteem spirit temper too say adieus who direct esteem. <br>
                        It esteems luckily or picture placing drawing.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/smart-3872063.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Video Monitoring System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/FindMyKids-1024x576.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">GPS tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offers_area_end -->

<!-- business_expert_area_start  -->
<div class="business_expert_area">
    <div class="business_tabs_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                               aria-selected="true">Campus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                               aria-selected="false">ClassRoom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                               aria-selected="false">Ground</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="border_bottom">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="zmdi zmdi-nature-people"></i>
                                </div>
                                <h3>Leading edge care for Your family</h3>
                                <p>
                                    Esteem spirit temper too say adieus who direct esteem.
                                    It esteems luckily picture placing drawing. Apartments frequently or motionless on
                                    reasonable projecting expression.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="~/images/schoolcampus.jpg" style="border-radius:20px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="zmdi zmdi-laptop"></i>
                                </div>
                                <h3>Leading edge care for Your family</h3>
                                <p>
                                    Esteem spirit temper too say adieus who direct esteem.
                                    It esteems luckily picture placing drawing. Apartments frequently or motionless on
                                    reasonable projecting expression.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="~/images/classroom-2787754.jpg" style="border-radius:20px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="zmdi zmdi-circle-o"></i>
                                </div>
                                <h3>Leading edge care for Your family</h3>
                                <p>
                                    Esteem spirit temper too say adieus who direct esteem.
                                    It esteems luckily picture placing drawing. Apartments frequently or motionless on
                                    reasonable projecting expression.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="~/images/ground.jpg" style="border-radius:20px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- business_expert_area_end  -->

<!-- Start footer -->
<footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top"  style="display:flex; ">
        <div class="container">
            <div class="mu-footer-top-area">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="mu-footer-widget" style="margin-left:5%">
                            <h4>Contact</h4>
                            <address>
                                <p>3rd Cross Section , Kanur, Mangalore, India</p>
                                <p>Phone: +(824) 226786</p>
                                <p>Website: WWW.childcare.in</p>
                                <p>Email: childcare@gmail.com</p>
                             
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:40%;">
            <a href="#" class="fa fa-facebook fac" ></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
        </div>
    </div>
    <!-- end footer top -->
</footer>


<!-- link that opens popup -->
<!-- form itself end-->
<form id="test-form" class="white-popup-block mfp-hide">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3>Login</h3>
            <form action=" " method="post">
                <div class="row">
                    <div class="col-xl-12">
                        <input type="text" id="userid" placeholder="UserName">
                    </div>
                    <div class="col-xl-12">
                        <input type="text" id="pass" placeholder="Password">
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" >LOGIN</button>
                    </div>
                </div>
                <a href="/Home/Dashboard" class="text-primary pull-right">Forgot Password</a>
            </form>
        </div>
    </div>
</form>
<!-- form itself end -->

<!-- JS here -->
<script src="~/js/js1/vendor/modernizr-3.5.0.min.js"></script>
<script src="~/js/js1/vendor/jquery-1.12.4.min.js"></script>
<script src="~/js/js1/popper.min.js"></script>
<script src="~/js/js1/bootstrap.min.js"></script>
<script src="~/js/js1/owl.carousel.min.js"></script>
<script src="~/js/js1/isotope.pkgd.min.js"></script>
<script src="~/js/js1/ajax-form.js"></script>
<script src="~/js/js1/waypoints.min.js"></script>
<script src="~/js/js1/jquery.counterup.min.js"></script>
<script src="~/js/js1/imagesloaded.pkgd.min.js"></script>
<script src="~/js/js1/scrollIt.js"></script>
<script src="~/js/js1/jquery.scrollUp.min.js"></script>
<script src="~/js/js1/wow.min.js"></script>
<script src="~/js/js1/nice-select.min.js"></script>
<script src="~/js/js1/jquery.slicknav.min.js"></script>
<script src="~/js/js1/jquery.magnific-popup.min.js"></script>
<script src="~/js/js1/plugins.js"></script>
<script src="~/js/js1/gijgo.min.js"></script>
<!--contact js-->
<script src="~/js/js1/contact.js"></script>
<script src="~/js/js1/jquery.ajaxchimp.min.js"></script>
<script src="~/js/js1/jquery.form.js"></script>
<script src="~/js/js1/jquery.validate.min.js"></script>
<script src="~/js/js1/mail-script.js"></script>
<script src="~/js/js1/main.js"></script>

<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>

<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>

<style>
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(95%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-95%);
    }

    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
        transform: translateX(5%);
    }
</style>

<style>

    .fa:hover 
    {
            opacity: 0.7;
    }

    .fac
    {
        padding: 20px;
        font-size: 30px;
        width: 65px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        background: #3B5998;
        color: white;
    }

    .fa-twitter 
    {
        padding: 20px;
        font-size: 30px;
        width: 65px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        background: #55ACEE;
        color: white;
    }

    .fa-google 
    {
        padding: 20px;
        font-size: 30px;
        width: 65px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        background: #dd4b39;
        color: white;
    }
</style>





