@{
    ViewData["Title"] = "PlayGround";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ChildCareSystem | User Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fontfaces CSS-->
    <link rel="stylesheet" href="~/css/css/themify-icons.css">
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    @*<link href="~/css/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="~/css/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="~/css/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">*@
    <link href="~/css/style1.css" rel="stylesheet">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img1/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/css/nice-select.css">
    <link rel="stylesheet" href="~/css/css/flaticon.css">
    <link rel="stylesheet" href="~/css/css/gijgo.css">
    <link rel="stylesheet" href="~/css/css/animate.css">
    <link rel="stylesheet" href="~/css/css/slicknav.css">
    <link rel="stylesheet" href="~/css/css/style.css">
    <style>
    </style>
</head>

<!-- header-start -->
<header>
    <div class="header-area">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 ">
                        <div class="social_media_links">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="short_contact_list">
                            <ul>
                                <li><a href="#"> <i class="fa fa-envelope"></i> ChildCaresys.com</a></li>
                                <li><a href="#"> <i class="fa fa-phone"></i> +91 9972074304</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container">

                <div class="row align-items-center">
                    @*<div class="col-xl-2">*@
                    <div class="logo">
                        <a href="index.html">

                            <img src="~/images/img/Logopic3a.jpg" style="width:40px; height:50px;" alt="">

                        </a>
                    </div>

                    @*</div>*@
                    <h2 style="font-family:'Baskerville Old Face';">Child Care System</h2>

                    <div class="col-xl-9 ">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="/Home/">Home</a></li>
                                    <li>
                                        <a href="#business_expert_area">Campus <i class="fa fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="/Home/ClassRooms">Classroom</a></li>
                                            <li><a href="/Home/PlayGround">Playground</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="/Home/About">About</a></li>
                                    <li><a href="/Home/Contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    @*<div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form boxed-btn3" href="#test-form">Click here to Login</a>

                                </div>
                            </div>
                        </div>*@
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- service_area_end -->

<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/smart-3872063.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Video Monitoring System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/FindMyKids-1024x576.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">GPS tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<footer id="mu-footer" style="text-align:center">
    <!-- start footer top -->
    <div class="mu-footer-top">
        <div class="container">
            <div class="mu-footer-top-area">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="mu-footer-widget">
                            <h4>Contact</h4>
                            <address>
                                <p>3rd Cross Section , Kanur, Mangalore, India</p>
                                <p>Phone: (824) 226786</p>
                                <p>Website: WWW.sdit.in</p>
                                <p>Email: sdit@gmail.com</p>

                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer top -->
</footer>

<!-- JS here -->
<script src="~/js/js1/vendor/modernizr-3.5.0.min.js"></script>
<script src="~/js/js1/vendor/jquery-1.12.4.min.js"></script>
<script src="~/js/js1/popper.min.js"></script>
<script src="~/js/js1/bootstrap.min.js"></script>
<script src="~/js/js1/owl.carousel.min.js"></script>
<script src="~/js/js1/isotope.pkgd.min.js"></script>
<script src="~/js/js1/ajax-form.js"></script>
<script src="~/js/js1/waypoints.min.js"></script>
<script src="~/js/js1/jquery.counterup.min.js"></script>
<script src="~/js/js1/imagesloaded.pkgd.min.js"></script>
<script src="~/js/js1/scrollIt.js"></script>
<script src="~/js/js1/jquery.scrollUp.min.js"></script>
<script src="~/js/js1/wow.min.js"></script>
<script src="~/js/js1/nice-select.min.js"></script>
<script src="~/js/js1/jquery.slicknav.min.js"></script>
<script src="~/js/js1/jquery.magnific-popup.min.js"></script>
<script src="~/js/js1/plugins.js"></script>
<script src="~/js/js1/gijgo.min.js"></script>
<!--contact js-->
<script src="~/js/js1/contact.js"></script>
<script src="~/js/js1/jquery.ajaxchimp.min.js"></script>
<script src="~/js/js1/jquery.form.js"></script>
<script src="~/js/js1/jquery.validate.min.js"></script>
<script src="~/js/js1/mail-script.js"></script>

<script src="~/js/js1/main.js"></script>




