@{
    ViewData["Title"] = "PlayGround";
    Layout = "_SiteLayout";
}

<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/smart-3872063.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Video Monitoring System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/FindMyKids-1024x576.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">GPS tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>







