@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how to build ASP.NET apps that can run anywhere.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        There are powerful new features in Visual Studio for building modern web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>*@

<head>
    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/css/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor ~/CSS-->
    <link href="~/css/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
</head>
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="index.html">
                        <img src="images/icon/logo.png" alt="CoolAdmin" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="active has-sub">
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard">
                            <i class="fas fa-tachometer-alt"></i> Dashboard
                        </a>

                    </li>
                    <li>
                        <a href="~/Home/CamaraView">
                            <i class="fas fa-chart-bar"></i>Camera View
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="StudentDetails">
                            <i class="fas fa-table"></i>Student Details
                        </a>
                    </li>
                    <li class="has-sub">

                        <a class="js-arrow">
                            <i class="far fa-edit"></i>Registration
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Form">Parent Registration</a>
                            </li>

                        </ul>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Form1">Teacher Registration</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="~/Home/Calender">
                            <i class="fas fa-calendar-alt"></i>Calendar
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/BusTracking">
                            <i class="fas fa-map-marker-alt"></i>Bus Location
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="images/icon/logo.png" alt="Cool Admin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard">
                            <i class="fas fa-tachometer-alt"></i> Dashboard
                        </a>

                    </li>
                    <li>
                        <a href="~/Home/CamaraView">
                            <i class="fas fa-chart-bar"></i>Camera View
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="StudentDetails">
                            <i class="fas fa-table"></i>Student Details
                        </a>
                    </li>
                    <li class="has-sub">

                        <a class="js-arrow">
                            <i class="far fa-edit"></i>Registration
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Form">Parent Registration</a>
                            </li>

                        </ul>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Form1">Teacher Registration</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="~/Home/Calender">
                            <i class="fas fa-calendar-alt"></i>Calendar
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/BusTracking">
                            <i class="fas fa-map-marker-alt"></i>Bus Location
                        </a>
                    </li>
                    </ul>

</nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="header-button">
                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-comment-more"></i>
                                    <span class="quantity">1</span>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="mess__title">
                                            <p>You have 2 news message</p>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                            </div>
                                            <div class="content">
                                                <h6>Michelle Moreno</h6>
                                                <p>Have sent a photo</p>
                                                <span class="time">3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-04.jpg" alt="Diane Myers" />
                                            </div>
                                            <div class="content">
                                                <h6>Diane Myers</h6>
                                                <p>You are now connected on message</p>
                                                <span class="time">Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="mess__footer">
                                            <a href="#">View all messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-email"></i>
                                    <span class="quantity">1</span>
                                    <div class="email-dropdown js-dropdown">
                                        <div class="email__title">
                                            <p>You have 3 New Emails</p>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, 3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, April 12,,2018</span>
                                            </div>
                                        </div>
                                        <div class="email__footer">
                                            <a href="#">See all emails</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">john doe</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">john doe</a>
                                                </h5>
                                                <span class="email">johndoe@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Account
                                                </a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>Setting
                                                </a>
                                            </div>
                                           
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="#">
                                                <i class="zmdi zmdi-power"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">





                    <div class="card">
                        <div class="card-header">
                            <strong>Student</strong> Form
                        </div>
                        <div class="card-body card-block">
                            <form action="" method="post" class="">
                                <div class="form-group">
                                    <label for="nf-student" class=" form-control-label">Student Name</label>
                                    <input type="text" id="nf-student" name="nf-student" placeholder="Enter Student Name.." class="form-control">
                                    @*<span class="help-block">Please enter your Student Name</span>*@
                                </div>
                                <div class="form-group">
                                    <label for="nf-student-img" class=" form-control-label">Student Profile</label>
                                    <input type="file" id="nf-student-img" name="nf-student-img" class="form-control">
                                    @*<span class="help-block">Please enter your Student Name</span>*@
                                </div>
                                <div class="form-group">
                                    <label for="address" class=" form-control-label">Adress</label>
                                    <textarea id="address" rows="5" name="address" class="form-control"></textarea>
                                    @*<span class="help-block">Please enter your Student Name</span>*@
                                </div>
                                <div class="form-group">
                                    <label for="gender" class=" form-control-label">Gender</label><br>
                                    <input type="radio" id="gender" name="gender" />Male
                                    <input type="radio" id="gender" name="gender"> Female
                                </div>
                                <div class="form-group">
                                    <label for="dob" class=" form-control-label">Date-Of-Birth</label>
                                    <input type="date" id="dob" name="dob" class="form-control" />
                                    @*<span class="help-block">Please enter your Student Name</span>*@
                                </div>
                                <div class="form-group">
                                    <label for="fname" class=" form-control-label">Father Name</label>
                                    <input type="text" id="fname" name="fname" class="form-control" />
                                    @*<span class="help-block">Please enter your Student Name</span>*@
                                </div>
                                <div class="form-group">
                                    <label for="mname" class=" form-control-label">Mother Name</label>
                                    <input type="text" id="mname" name="mname" class="form-control" />
                                    @*<span class="help-block">Please enter your Student Name</span>*@
                                </div>
                                <div class="form-group">
                                    <label for="mname" class=" form-control-label">User Name</label>
                                    <div class="input-group">
                                        <input type="text" id="uname" name="uname" placeholder="Username" class="form-control">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nf-email" class=" form-control-label">Email</label>
                                    <div class="input-group">
                                        <input type="email" id="nf-email" name="nf-email" placeholder="Enter Email.." class="form-control">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                    

                                </div>
                                <div class="form-group">
                                    <label for="nf-password" class=" form-control-label">Password</label>
                                    <div class="input-group">
                                        <input type="password" id="nf-password" name="nf-password" placeholder="Enter Password.." class="form-control">
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobileno" class=" form-control-label">Mobile Number</label>
                                        <input type="number" id="mobileno" name="mobileno" class="form-control" />
                                        @*<span class="help-block">Please enter your Student Name</span>*@
                                    </div>

</form>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary ">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="reset" class="btn btn-danger ">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2020. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

</div>

<!-- Jquery JS-->
<script src="~/css/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="~/css/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="~/css/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="~/css/vendor/slick/slick.min.js">
</script>
<script src="~/css/vendor/wow/wow.min.js"></script>
<script src="~/css/vendor/animsition/animsition.min.js"></script>
<script src="~/css/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="~/css/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="~/css/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="~/css/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/css/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/css/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/css/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="~/js/main.js"></script>