@{
    ViewData["Title"] = "Home Page";
}

@section LeftNavigation{
    <partial name="_UserLeftNavigation" />
}

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="container-fluid">
            <br />
            <div class="row" style="text-align:center; margin-left:16%;">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h1 class="title-1 " style="font-family:'Berlin Sans FB'; color:blue;">Welcome to Dashboard</h1>
                    </div>
                    <div>
                        <button class="btn btn-primary pull-right" id="sendmsg" onclick="showpopup();">Send Message</button>
                    </div>
                </div>
            </div><br /><hr />



            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-4">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div><br />
                                <div class="text">
                                    <h2>Student</h2>
                                    <span>View students Details</span>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-videocam"></i>
                                </div><br />
                                <div class="text">
                                    <h2>Camera</h2>
                                    <span>View live videos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-google-maps"></i>
                                </div><br />
                                <div class="text">
                                    <h2>Location</h2>
                                    <span>View Kid Location</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- END MAIN CONTENT-->

<div id="overlay" style="z-index:4">
    <div id="senddiv" class="">
        <a class="pull-right" onclick="hidepopup1();"><i class="fa fa-close"></i></a>
        <h2 align="center">Send Message</h2><hr />
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">From</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="from" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label">To</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="to" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Message</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" id="msg"></textarea>
            </div>
        </div>
      
        <div>
            <button type="button" class="btn btn-outline-primary btn-block" id="sendbtn">Send</button>
            <button type="button" class="btn btn-outline-success btn-block" onclick="Clearfield();">Clear</button>
        </div>
    </div>

    
</div>



@section Scripts{
    <script>
        function search(string) {
            window.find(string);
        } 

        function Clearfield() {
            document.getElementById('from').value = "";
            document.getElementById('to').value = "";
            document.getElementById('msg').value = "";
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#sendbtn").click(function () {
                var frommsg = $("#from").val();
                var tomsg = $("#to").val();
                var msg = $("#msg").val();
                //alert(tomsg);
                //alert(compemail);
                $.ajax({
                    url: '/MessageBoard/SendParentMessage',
                    type: 'post',
                    dataType: 'json',
                    data:
                    {
                        FromMsg: frommsg,
                        ToMsg: tomsg,
                        Msg: msg,
                    },
                    success: function (result) {

                        alert("Message send successfully");
                        location.reload();
                    },

                });
            });

        });

        function showpopup() {
            $('#senddiv').animate({ top: '23%' }, 500);
            document.getElementById("overlay").style.display = "block";

        }
        
        function hidepopup1() {
            $('#senddiv').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }
    </script>
    }

    @section Styles{
        <style>

            #senddiv {
                position: fixed;
                top: -500%;
                width: 32%;
                margin-left: 32%;
                background-color: white;
                box-shadow: 2px 3px 10px grey;
                border-radius: 5px;
                padding: 20px;
            }
        </style>
    }

