@inject IHttpContextAccessor httpAccessor;
@{
    ViewData["Title"] = "Cam1";
}

@section LeftNavigation{
    <partial name="_AdminLeftNavigation" />
}

<h2>Cam1</h2>

<video id="cam" autoplay></video>

@section Scripts{

    <script type="text/javascript">
        var ChildCare = ChildCare || {};

        ChildCare.urls = ChildCare.urls || {};
        ChildCare.urls.host = "https://localhost:44323";
    </script>
    <script src="~/lib/signalr-client/signalr.js"></script>
    <script src="~/js/pages/cam1.js"></script>
}
