@inject ChildCare.MonitoringSystem.Common.AppSettings appSettings;
@{
    ViewData["Title"] = "Class B";
}

@section LeftNavigation{
    <partial name="_AdminLeftNavigation" />
}

<h2>Cam1</h2>

<video id="cam" autoplay></video>

@section Scripts{
    <script type="text/javascript">
        var ChildCare = ChildCare || {};

        ChildCare.urls = ChildCare.urls || {};
        ChildCare.urls.signalHostUrl = "@appSettings.SignalUrl";
    </script>
    <script src="~/lib/signalr-client/signalr.js"></script>
    <script src="~/js/webrtc/common.js"></script>
    <script src="~/js/pages/classB.js"></script>
}
