@inject ChildCare.MonitoringSystem.Common.AppSettings appSettings;
@{
    ViewData["Title"] = "Camara View";
}

@section LeftNavigation{
    <partial name="_AdminLeftNavigation" />
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <input id="classA" type="button" value="Class A" />
            <input id="classB" type="button" value="Class B" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <video id="cam" autoplay></video>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/signalr-client/signalr.js"></script>
    <script src="~/js/webrtc/aykan-webrtc.min.js"></script>
    <script type="text/javascript">
        var ChildCare = ChildCare || {};

        ChildCare.urls = ChildCare.urls || {};
        ChildCare.urls.signalHostUrl = "@appSettings.SignalUrl";
    </script>
    <script src="~/js/webrtc/common.js"></script>
    <script src="~/js/pages/cameraView.js"></script>
}
