@{
    ViewData["Title"] = "Dashboard";
}

@section LeftNavigation{
    <partial name="_AdminLeftNavigation" />
}

<div class="main-content">
    @*<button style="width:29px;height:30px;background-color:red" class="viewbtn" vals="8" name="viewbtn">hello</button>
    <button style="width:29px;height:30px;background-color:red" class="viewbtn" vals="13" name="viewbtn">hello</button>

    <button style="width:29px;height:30px;background-color:red" class="viewbtn" vals="14" name="viewbtn">hello</button>*@
    @*<div class="section__content section__content--p30">*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="overview-wrap">
                    <h2 class="title-1">Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="row m-t-25">
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                            <div class="text">
                                <h2>1000+</h2>
                                <span>Total number of students</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-videocam"></i>
                            </div><br />
                            <div class="text">
                                <h2>30+</h2>
                                <span>Total cameras</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-laptop"></i>
                            </div><br />
                            <div class="text">
                                <h2>50+</h2>
                                <span>Total ClassRooms</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c4">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-bus"></i>
                            </div><br />
                            <div class="text">
                                <h2>40+</h2>
                                <span>Total No.of Buses</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <h2 class="title-1 m-b-25">Student info   </h2>
                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning" id="studentInfo">
                        <thead>
                            <tr>
                                <th>Student Id</th>
                                <th>Student Name</th>
                                <th>Address</th>

                                <th class="text-right">Father Name</th>
                                <th class="text-right">Mothername</th>
                            </tr>
                        </thead>
                        @*
                            body written in script
                        *@
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <h2 class="title-1 m-b-25">Teacher info   </h2>
                <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                    @*<h4 style="color:yellow;">Teacher Names :   </h4>*@
                    <div class="au-card-inner">

                        <div class="table-responsive">

                            <table class="table table-top-countries" id="listofteacher"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="z-index:2">
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                    <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
                        <div class="bg-overlay bg-overlay--blue"></div>
                        <h3>
                            <i class="zmdi zmdi-account-calendar"></i>Viewed Message
                        </h3>
                        <button class="au-btn-plus">
                            <i class="zmdi zmdi-plus"></i>
                        </button>
                    </div>
                    @*//=============*@

                    <div class="au-task js-list-load">
                        <div class="au-task-list js-scrollbar3">
                            <div class="au-task__item au-task__item--danger">
                                <table class="au-task__item-inner" id="viewedmsg"></table>
                                @*<hr />*@
                            </div>
                        </div>
                        <div class="au-task__footer">
                            <button class="au-btn au-btn-load js-load-btn">load more</button>
                        </div>
                    </div>

                    @*//=============*@
                </div>
            </div>
            <div class="col-lg-6" style="z-index:2">
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                    <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                        <div class="bg-overlay bg-overlay--blue"></div>
                        <h3>
                            <i class="zmdi zmdi-comment-text"></i>New Messages
                        </h3>
                        <button class="au-btn-plus">
                            <i class="zmdi zmdi-plus" onclick="showpopup();"></i>
                        </button>
                    </div>



                    <div class="au-task js-list-load">
                        <div class="au-task-list js-scrollbar3">
                            <div class="au-task__item au-task__item--danger">
                                <table class="au-task__item-inner" id="newmsg"></table>
                                @*<hr />*@
                            </div>
                        </div>
                        <div class="au-task__footer">
                            <button class="au-btn au-btn-load js-load-btn">load more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="overlay1" style="z-index:4">
    <div id="senddiv">
        <a class="pull-right" onclick="hidepopup();"><i class="fa fa-close"></i></a>
        <h2 align="center" class="text-primary">Send Message</h2><hr />
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Admin Id</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="from" />
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">From</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" value="57" id="adminfrom" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label">To</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="to" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Message</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" id="msg"></textarea>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-outline-primary btn-block" id="sendbtn">Send</button>
            <button type="reset" class="btn btn-outline-success btn-block" onclick="Clearfield();">Clear</button>
        </div>
    </div>
</div>


<div id="overlay2" style="z-index:4">
    <div id="viewmsgdiv">
        <a class="pull-right" onclick="hideviewmsgdiv();"><i class="fa fa-close"></i></a>
        <h2 align="center" class="text-primary">New Message</h2><hr />

        <div class="form-group row">
            <label  class="col-sm-4 col-form-label">From</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="msgfrom" />
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label">To</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="msgto" />
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label">Time</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="msgtime" />
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label">Message</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" id="msgcontent"></textarea>
            </div>
        </div>
    </div>
</div>



@section Styles{
    <style>

        #overlay1,#overlay2 {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
            overflow: auto;
        }


        #senddiv {
            position: fixed;
            top: -500%;
            width: 32%;
            margin-left: 32%;
            background-color: white;
            box-shadow: 2px 3px 10px grey;
            border-radius: 5px;
            padding: 20px;
        }

        #viewmsgdiv {
            position: fixed;
            top: -500%;
            width: 32%;
            margin-left: 32%;
            background-color: white;
            box-shadow: 2px 3px 10px grey;
            border-radius: 5px;
            padding: 20px;
        }

        form.example input[type=text] {
            padding: 8px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 72%;
            height: 60%;
            background: white;
        }

        form.example button {
            float: left;
            width: 20%;
            height: 70%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

            form.example button:hover {
                background: #0b7dda;
            }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }


        #login {
            position: fixed;
            top: -500%;
            width: 22%;
            margin-left: 37%;
            background-color: white;
            box-shadow: 2px 3px 10px grey;
            border-radius: 5px;
            padding: 20px;
        }

        #viewbtn {
            /*color:white;*/
            border:none;
        }
    </style>
}

@section Scripts{
    <script>

        $(document).ready(function () {

            $.ajax({
                url: '/Student/GetStudentDetail',
                type: 'get',
                dataType: 'json',
                success: function (result) {

                    if (result) {
                        var bat = ' <tbody>';
                        for (var i = 0; i < result.length; i++) {

                            bat += '<tr><td>' + result[i].studentId + '</td><td>' + result[i].studentName + '</td><td>' + result[i].studentAddress + '</td><td class="text-right">' + result[i].fatherName + '</td><td class="text-right">' + result[i].motherName + '</td></tr>';

                        }
                        bat += '</tbody>';

                        $('#studentInfo').append(bat);

                    }
                    else {
                        alert("failed to get data");
                    }

                },
            });


            $.ajax({
                url: '/User/GetTeacherDetail',
                type: 'get',
                dataType: 'json',
                success: function (result) {
                    debugger
                    if (result) {
                        var put = '<tbody>';
                        for (var i = 0; i < result.length; i++) {
                            put += '<tr><td>' + (i + 1) + '</td><td>' + result[i].userName + '</td></tr>';
                        }
                        put += '</tbody>';
                        $('#listofteacher').append(put);
                    }
                    else {
                        alert("failed to get data");
                    }
                },

            });

            $.ajax({
                url: '/MessageBoard/ViewedMsgDetail',
                type: 'get',
                dataType: 'json',
                success: function (result) {
                    debugger
                    if (result) {
                        var put = '<tbody>';
                        for (var i = 0; i < result.length; i = i + 4) {
                            put += '<tr><td>From :' + result[i + 1] + '</td></tr><tr><td>To :' + result[i] + '</td></tr><tr><td>Msg :' + result[i + 2] + '</td></tr><tr><td>Date and Time :' + result[i + 3] + '</td></tr><tr><td>__________________________________________________________________</td></tr>';
                        }
                        put += '</tbody>';
                        $('#viewedmsg').append(put);
                    }
                    else {
                        alert("failed to get data");
                    }
                },

            });

            $.ajax({
                url: '/MessageBoard/NewMsgDetail',
                type: 'get',
                dataType: 'json',
                success: function (result) {
                    debugger
                    if (result) {
                        var put = '<tbody>';
                        for (var i = 0; i < result.length; i = i + 5) {
                            //put += '<tr><td>From :' + result[i + 1] + '</td></tr><tr><td>To :' + result[i] + '</td></tr><tr><td>Msg :' + result[i + 2] + '</td></tr><tr><td>Date and Time :' + result[i + 3] + '</td></tr><tr><td>__________________________________________________________________</td></tr>';
                            put += '<tr><td>From :' + result[i + 1] + '</td></tr><tr><td>Date and Time :' + result[i + 4] + '</td><td><i class="fa fa-arrow-right"><button class="viewbtn" id ="viewbtn" name="viewbtn" onclick="viewfunc()" value="' + result[i + 3] + '">' + result[i + 3] + '</button></i></td></tr><tr><td>____________________________________________________</td><td>_________</td></tr>';

                        }
                        put += '</tbody>';
                        $('#newmsg').append(put);
                    }
                    else {
                        alert("failed to get data");
                    }
                },

            });


            $("#teachereditprofile").click(function () {
                var uname = $("#uname").val();
                var uemail = $("#uemail").val();
                var uaddress = $("#uaddress").val();
                var umobileno = $("#umobileno").val();
                alert(uname);
                alert(uemail);
                alert(uaddress);
                alert(umobileno);
                $.ajax({
                    url: '/User/TeacherEditProfile',
                    type: 'post',
                    dataType: 'json',
                    data:
                    {
                        UserName: uname,
                        UserEmail: uemail,
                        UserAddress: uaddress,
                        UserMobileNo: umobileno,
                    },
                    success: function (result) {

                        alert("hii");

                    },

                });
            });

            $("#sendbtn").click(function () {
                var frommsg = $("#adminfrom").val();
                var tomsg = $("#to").val();
                var msg = $("#msg").val();

                $.ajax({
                    url: '/MessageBoard/SendMessage',
                    type: 'post',
                    dataType: 'json',
                    data:
                    {
                        FromMsg: frommsg,
                        ToMsg: tomsg,
                        Msg: msg,
                    },
                    success: function (result) {

                        alert("Message send successfully");
                        location.reload();

                    },

                });
            });


            $(".viewbtn").click(function () {

                var name = $(this).attr("name");

                if (name == 'viewbtn') {
                    var msgid = $(this).attr("vals");
                    alert(msgid);
                    $.ajax({
                        url: '/MessageBoard/GetMsgById',
                        type: 'get',
                        dataType: 'json',
                        data:
                        {
                            id: msgid,
                        },
                        success: function (result) {
                            document.getElementById('msgfrom').value = result[1];
                            document.getElementById('msgto').value = result[0];
                            document.getElementById('msgtime').value = result[3]; 
                            document.getElementById('msgcontent').value = result[2];
                            $('#viewmsgdiv').animate({ top: '23%' }, 500);
                            document.getElementById("overlay2").style.display = "block";
                        },

                    });
                }
            });


            $.ajax({
                url: '/Dashboard/GetUserId',
                type: 'get',
                dataType: 'json',

                success: function (result) {
                    document.getElementById('from').value = result;

                },

            });

        });

    </script>

    <script>

        function search(string) {
            window.find(string);
        }

        function showpopup() {
            $('#senddiv').animate({ top: '23%' }, 500);
            document.getElementById("overlay1").style.display = "block";

        }
        function hidepopup() {
            $('#senddiv').animate({ top: '-500%' }, 500);
            document.getElementById("overlay1").style.display = "none";
        }
        function hideviewmsgdiv() {
            $('#viewmsgdiv').animate({ top: '-500%' }, 500);
            document.getElementById("overlay2").style.display = "none";
            window.location.reload();
        }
        function Clearfield() {
            //document.getElementById('from').value = "";
            document.getElementById('to').value = "";
            document.getElementById('msg').value = "";
        }

        function viewfunc() {
            alert("hiii");
            //var name = $(this).attr("name");

            //if (name == 'viewbtn') {
                //var msgid = $(this).attr("vals");
            var msgid = $("#viewbtn").val();
                alert(msgid);
                $.ajax({
                    url: '/MessageBoard/GetMsgById',
                    type: 'get',
                    dataType: 'json',
                    data:
                    {
                        id: msgid,
                    },
                    success: function (result) {
                        document.getElementById('msgfrom').value = result[1];
                        document.getElementById('msgto').value = result[0];
                        document.getElementById('msgtime').value = result[3];
                        document.getElementById('msgcontent').value = result[2];
                        $('#viewmsgdiv').animate({ top: '23%' }, 500);
                        document.getElementById("overlay2").style.display = "block";
                    },

                });
            //}
        }
    </script>
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>