@{
    ViewData["Title"] = "Dashboard";

}

@section LeftNavigation{
    <partial name="_AdminLeftNavigation" />
}

<div class="main-content">
    @*<div class="section__content section__content--p30">*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="overview-wrap">
                    <h2 class="title-1">Dashboard</h2>

                </div>
            </div>
        </div>
        <div class="row m-t-25">
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                            <div class="text">
                                <h2>1000+</h2>
                                <span>Total number of students</span>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-videocam"></i>
                            </div><br />
                            <div class="text">
                                <h2>30+</h2>
                                <span>Total cameras</span>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-laptop"></i>
                            </div><br />
                            <div class="text">
                                <h2>50+</h2>
                                <span>Total ClassRooms</span>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c4">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-bus"></i>
                            </div><br />
                            <div class="text">
                                <h2>40+</h2>
                                <span>Total No.of Buses</span>
                            </div>
                        </div>
               
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Bus Location</h3>
                        <div class="chart-info">


                        </div>
                        <div class="recent-report__chart">
                           
                            <!-- MAP DATA-->
                            <div class="map-data m-b-40">
                                <h3 class="title-3 m-b-30">
                                    <i class="zmdi zmdi-map"></i>map data
                                </h3>

                                <div class="map-wrap m-t-45 m-b-20">
                                    <div id="vmap" style="height: 284px;"></div>
                                </div>
                            </div>
                            <!-- END MAP DATA-->
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="au-card chart-percent-card">
                    <div class="au-card-inner">
                        <h3 class="title-2 tm-b-5">Student camera view</h3>
                        <div class="row no-gutters">
                            @* <div class="col-xl-6">
                                    <div class="chart-note-wrap">
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--blue"></span>
                                            <span>products</span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--red"></span>
                                            <span>services</span>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-xl-6">
                                <div class="percent-chart">

                                    <div class="filters">
                                        <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                            <select class="js-select2" name="property">
                                                <option selected="selected">Enter Room No</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>

                                    </div>
                                    <br /><br />
                                    <video width="400" controls>
                                        <source src="~/video/class.mp4" type="video/mp4">
                                        <source src="~/video/class.mp4" type="video/mp4">


                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-9">
                <h2 class="title-1 m-b-25">Teacher info   </h2>
                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning" id="studentInfo">
                        <thead>
                            <tr>
                                <th>Student Id</th>
                                <th>Student Name</th>
                                <th>Address</th>
                                
                                <th class="text-right">Father Name</th>
                                <th class="text-right">Mothername</th>
                            </tr>
                        </thead>
                   @*
                       body written in script
                   *@
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <h2 class="title-1 m-b-25">Lectures</h2>
                <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                    <div class="au-card-inner">
                        <div class="table-responsive">
                            <table class="table table-top-countries" id="listofteacher">
                                @* <tbody>
        <tr>
            <td>Rohan </td>
            <td class="text-right">Maths</td>
        </tr>
        <tr>
            <td>Shrikanth</td>
            <td class="text-right">Kannada</td>
        </tr>
        <tr>
            <td>Rizwan</td>
            <td class="text-right">Hindi</td>
        </tr>
        <tr>
            <td>Nayana</td>
            <td class="text-right">Science</td>
        </tr>
        <tr>
            <td>Akshitha</td>
            <td class="text-right">Social</td>
        </tr>

                                </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                    <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
                        <div class="bg-overlay bg-overlay--blue"></div>
                        <h3>
                            <i class="zmdi zmdi-account-calendar"></i>09 January, 2020
                        </h3>
                        <button class="au-btn-plus">
                            <i class="zmdi zmdi-plus"></i>
                        </button>
                    </div>
                    <div class="au-task js-list-load">
                        <div class="au-task__title">
                            <p>Tasks for John Doe</p>
                        </div>
                        <div class="au-task-list js-scrollbar3">
                            <div class="au-task__item au-task__item--danger">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#"> Parent Student Meeting on 15/02/2020</a>
                                    </h5>
                                    <span class="time">10:00 AM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--warning">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Create new task for Dashboard</a>
                                    </h5>
                                    <span class="time">11:00 AM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--primary">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Meeting about plan for Admin Template 2018</a>
                                    </h5>
                                    <span class="time">02:00 PM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--success">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Create new task for Dashboard</a>
                                    </h5>
                                    <span class="time">03:30 PM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--danger js-load-item">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Meeting about plan for Admin Template 2018</a>
                                    </h5>
                                    <span class="time">10:00 AM</span>
                                </div>
                            </div>
                            <div class="au-task__item au-task__item--warning js-load-item">
                                <div class="au-task__item-inner">
                                    <h5 class="task">
                                        <a href="#">Create new task for Dashboard</a>
                                    </h5>
                                    <span class="time">11:00 AM</span>
                                </div>
                            </div>
                        </div>
                        <div class="au-task__footer">
                            <button class="au-btn au-btn-load js-load-btn">load more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                    <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                        <div class="bg-overlay bg-overlay--blue"></div>
                        <h3>
                            <i class="zmdi zmdi-comment-text"></i>New Messages
                        </h3>
                        <button class="au-btn-plus">
                            <i class="zmdi zmdi-plus" onclick="showpopup();"></i>
                        </button>
                    </div>
                    <div class="au-inbox-wrap js-inbox-wrap">
                        <div class="au-message js-list-load">
                            <div class="au-message__noti">
                                <p>
                                    You Have
                                    <span>2</span>

                                    new messages
                                </p>
                            </div>
                            <div class="au-message__footer">
                                <button class="au-btn au-btn-load js-load-btn">load more</button>
                            </div>
                        </div>
                        <div class="au-chat">
                            <div class="au-chat__title">
                                <div class="au-chat-info">
                                    <div class="avatar-wrap online">
                                        <div class="avatar avatar--small">
                                            <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                        </div>
                                    </div>
                                    <span class="nick">
                                        <a href="#">John Smith</a>
                                    </span>
                                </div>
                            </div>
                            <div class="au-chat__content">
                                <div class="recei-mess-wrap">
                                    <span class="mess-time">12 Min ago</span>
                                    <div class="recei-mess__inner">
                                        <div class="avatar avatar--tiny">
                                            <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                        </div>
                                        <div class="recei-mess-list">
                                            <div class="recei-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
                                            <div class="recei-mess">Donec tempor, sapien ac viverra</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="send-mess-wrap">
                                    <span class="mess-time">30 Sec ago</span>
                                    <div class="send-mess__inner">
                                        <div class="send-mess-list">
                                            <div class="send-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-chat-textfield">
                                <form class="au-form-icon">
                                    <input class="au-input au-input--full au-input--h65" type="text" placeholder="Type a message">
                                    <button class="au-input-icon">
                                        <i class="zmdi zmdi-camera"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Styles{
    <style>
      

        form.example input[type=text] {
            padding: 8px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 72%;
            height: 60%;
            background: white;
        }

        form.example button {
            float: left;
            width: 20%;
            height: 70%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

            form.example button:hover {
                background: #0b7dda;
            }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }


        #login {
            position: fixed;
            top: -500%;
            width: 22%;
            margin-left: 37%;
            background-color: white;
            box-shadow: 2px 3px 10px grey;
            border-radius: 5px;
            padding: 20px;
        }
    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            
                $.ajax({
                    url: '/Student/GetStudentDetail',
                    type: 'get',
                    dataType: 'json',
                    success: function (result) {

                        if (result) {
                             var bat = ' <tbody>';
                            for (var i = 0; i < result.length; i++) {


                                bat += '<tr><td>' + result[i].studentId + '</td><td>' + result[i].studentName + '</td><td>' + result[i].studentAddress + '</td><td class="text-right">' + result[i].fatherName + '</td><td class="text-right">' + result[i].motherName+'</td></tr>';


                            }
                            bat += '</tbody>';

                            $('#studentInfo').append(bat);

                        }
                        else {
                            alert("failed to get data");
                        }

                    },


            });
            $.ajax({
                url: '/User/GetTeacherDetail',
                type: 'get',
                dataType: 'json',
                success: function (result) {
                    debugger
                    if (result) {
                        var put = '<tbody>';
                        for (var i = 0; i, result.length; i++) {
                            put += '<tr><td>' + result[i].userName + '</td><td>';
                        }
                        put += '</tbody>';
                        $('#listofteacher').append(put);
                    }
                }

            });

            $("#teachereditprofile").click(function () {
                var uname = $("#uname").val();
                var uemail = $("#uemail").val();
                var uaddress = $("#uaddress").val();
                var umobileno = $("#umobileno").val();
                alert(uname);
                alert(uemail);
                alert(uaddress);
                alert(umobileno);
                $.ajax({
                    url: '/User/TeacherEditProfile',
                    type: 'post',
                    dataType: 'json',
                    data:
                    {
                        UserName: uname,
                        UserEmail: uemail,
                        UserAddress: uaddress,
                        UserMobileNo: umobileno,
                    },
                    success: function (result) {

                        alert("hii");

                    },

                });
            });
            $("#sendbtn").click(function () {
                var frommsg = $("#frommsg").val();
                var tomsg = $("#tomsg").val();
                var compemail = $("#compemail").val();
                //alert(tomsg);
                //alert(compemail);
                $.ajax({
                    url: '/MessageBoard/SendMessage',
                    type: 'post',
                    dataType: 'json',
                    data:
                    {
                        FromMsg: frommsg,
                        ToMsg: tomsg,
                        Msg: compemail,
                    },
                    success: function (result) {

                        alert("Message send successfully");
                        location.reload();

                    },

                });
            });

        });

    </script>

    <script>

        function search(string) {
            window.find(string);
        }

        function showpopup() {
            $('#login').animate({ top: '23%' }, 500);
            document.getElementById("overlay").style.display = "block";
        }
        function hidepopup() {
            $('#login').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }

        function hidepopup1() {
            $('#login').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }
    </script>
}
