@{
    ViewData["Title"] = "RoomSchedule";
}

@section LeftNavigation{
    <partial name="_AdminLeftNavigation" />
}

<!-- MAIN CONTENT-->
<div class="main-content" id="viewroom">
    @*<div class="section__content section__content--p30">*@
    <button class="btn btn-primary col-lg-1 pull-right" style="margin-right:5%;" onclick="showadd();">+ ADD</button><br />
    @*<button class="btn btn-danger col-lg-1 pull-right" style="margin-right:5%;" onclick="deleteroom();">- DELETE</button><br />*@
    <button class="btn btn-danger col-lg-1 pull-right" style="margin-right:5%;" onclick="showviewschedule()"><i class="fa fa-eye"></i> View</button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-responsive-data2" style="overflow:auto">
                    <table class="table table-data2" id="getRoom">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>Room Id</th>
                                <th>Room Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        @*<tbody>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>1</td>
                                    <td>
                                        Bus1
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button onclick="show();" title="Send Message" class="btn btn-primary">
                                                <a onclick="showviewschedule()">
                                                    Schedule
                                                </a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>2</td>
                                    <td>
                                        Bus2
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button onclick="show();" title="Send Message" class="btn btn-primary">
                                                <a onclick="showviewschedule()">
                                                    Schedule
                                                </a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>3</td>
                                    <td>
                                        Bus3
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button onclick="show();" title="Send Message" class="btn btn-primary">
                                                <a onclick="showviewschedule()">
                                                    Schedule
                                                </a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>*@
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>

<div class="main-content" id="viewroomschedule">
    @*<h2 align="center">View Room Schedule</h2>*@
    <hr /><br /><br />
    <button class="btn btn-primary col-lg-1 pull-right" style="margin-right:5%;" onclick="showaddSchedule();">+ ADD</button><br />
    <button class="btn btn-danger col-lg-1 pull-right" id="std" style="margin-right:5%;">- DELETE</button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-responsive-data2" style="overflow:auto">
                    <table class="table table-data2" id="getRoomSchedule">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>Room Schedule Id</th>
                                <th>Teacher Id</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Subject</th>
                                <th>Room Id</th>
                            </tr>
                        </thead>
                        @*<tbody>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>2020-01-28</td>
                                    <td>11:55:00</td>
                                    <td>Kannada</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button onclick="show();" title="Send Message" class="btn btn-primary">
                                                <a onclick="showschedule()">
                                                    Change
                                                </a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>2020-01-28</td>
                                    <td>09:00:00</td>
                                    <td>Kannada</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button onclick="show();" title="Send Message" class="btn btn-primary">
                                                <a onclick="showschedule()">
                                                    Change
                                                </a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>2020-01-28</td>
                                    <td>09:55:00</td>
                                    <td>English</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button onclick="show();" title="Send Message" class="btn btn-primary">
                                                <a onclick="showschedule()">
                                                    Change
                                                </a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*////////////////*@
<div class="main-content" id="viewstudentschedule">
    <h2 align="center">View Student Schedule</h2>
    <hr /><br /><br />
    <button class="btn btn-primary col-lg-1 pull-right" style="margin-right:5%;" onclick="showaddSchedule();">+ ADD</button><br />
    <button class="btn btn-danger col-lg-1 pull-right" style="margin-right:5%;">- DELETE</button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-responsive-data2" style="overflow:auto">
                    <table class="table table-data2" id="getstudentSchedule">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>Student  Id</th>
                                <th>Student Image Id</th>
                                <th>Student Name</th>
                                <th>Student Batch</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
<div id="overlay" style="z-index:4">
    <!--start Account popup-->
    <div id="test-form-div ">
        <div id="test-form" class="">
            <div class="form-container">
                <a class="pull-right" href=" "><i class="fa fa-close"></i></a>
                <h4 align="center" class="text-primary">Profile View</h4><hr />
                <form action="Homepage.html" method="post">
                    <div class="form-group" align="center">
                        <div class="image">
                            <img src="~/images/img/user.png" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <label class="form-control" name="fname" id="fname">Purshotham</label>
                    </div>
                    <div class="form-group">
                        <label>User Email</label>
                        <label class="form-control" name="email" id="fname">Pursh123@gmail.com</label>
                    </div>
                    <div class="form-group">
                        <label>Mobile No</label>
                        <label class="form-control" name="number" id="pwd">9653247815</label>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--close Account popup-->
    <!--start setting popup-->
    <div id="setting" class="">
        <div class="form-container">
            <a class="pull-right" href=" "><i class="fa fa-close"></i></a>
            <h4 align="center" class="text-primary">Password Setting</h4><hr />
            <form action="Homepage.html" method="post">
                <div class="form-group">
                    <label>Old Password</label>
                    <input class="form-control" type="text" name="fname" id="fname" required>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="email" name="email" id="fname" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Confirm Password</label>
                    <input class="form-control" type="tel" name="number" id="pwd" required>
                </div>
                <button type="submit" class="btn btn-block btn-primary" id="reg">SUBMIT </button><br>
                <a href="#moresetting" class="pull-right" onclick="showmoresetting()">Set More Details</a>
            </form>
        </div>
    </div>
    <!--close setting popup-->
    <!--start more setting popup-->
    <div id="moresetting" class="">
        <div class="form-container">
            <a class="pull-right" href=" "><i class="fa fa-close"></i></a>
            <h4 align="center" class="text-primary">User Detail Setting</h4><hr />
            <form action="Homepage.html" method="post">
                <div class="form-group">
                    <label>User Name</label>
                    <input class="form-control" type="text" name="fname" id="fname" required>
                </div>
                <div class="form-group">
                    <label>User Email</label>
                    <input class="form-control" type="email" name="email" id="fname" required>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" type="email" name="email" id="fname" required>
                </div>
                <div class="form-group">
                    <label>Mobile No</label>
                    <input class="form-control" type="email" name="email" id="fname" required>
                </div>
                <button type="submit" class="btn btn-block btn-primary" id="reg">EDIT</button>
            </form>
        </div>
    </div>
    <!--close more setting popup-->

    <div id="schedule" class="">
        <div class="form-container">
            <a class="pull-right" href="#viewroomschedule" onclick="hidechangeschedule();"><i class="fa fa-close"></i></a>
            <h4 align="center" class="text-primary">Schedule Room</h4><hr />
            <form action="Homepage.html" method="post">
                <div class="form-group">
                    <label>Choose Date</label>
                    <input class="form-control" type="date" name="date" id="date" required>
                </div>
                <div class="form-group">
                    <label>Teacher Id</label>
                    <input class="form-control" type="text" name="teacherid" id="teacherid" required>
                </div>
                <div class="form-group">
                    <label>Time</label>
                    @* <input class="form-control" type="text" name="email" id="fname" required>*@
                    <select name="scheduleTime" class="form-control">
                        <option value="9.00">9.00</option>
                        <option value="9.55">9.55</option>
                        <option value="11.05">11.05</option>
                        <option value="01.00">01.00</option>
                        <option value="02.00">02.00</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <input class="form-control" type="text" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                    <label>Room Id</label>
                    <input class="form-control" type="text" name="roomid" id="roomid" required>
                </div>
                <div class="form-group">
                    <label>Batch</label>
                    @*  <input class="form-control" type="time" name="batch" id="batch" required>*@
                    <select name="scheduleTime" class="form-control">
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="B3">B3</option>
                        <option value="B4">B4</option>
                        <option value="B5">B5</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-block btn-primary" id="roomupdate">Save Changes</button>
            </form>
        </div>
    </div>


    <div id="add" class="">
        <div class="form-container">
            <a class="pull-right" href=" "><i class="fa fa-close"></i></a>
            <h4 align="center" class="text-primary">Add Room</h4><hr />
            <form action="" method="post">
                <div class="form-group">
                    <label>Room Name</label>
                    <input class="form-control" type="text" name="fname" id="rname" required>
                </div>

                <button type="submit" class="btn btn-block btn-primary" id="addRoom">ADD</button>
            </form>
        </div>
    </div>


    <div id="addSchedule" class="">
        <div class="form-container">
            <a class="pull-right" href="#viewroomschedule" onclick="hidechangeschedule();"><i class="fa fa-close"></i></a>
            <h4 align="center" class="text-primary">Add Room Schedule</h4><hr />
            <form action="" method="post">
                <div class="form-group">
                    <label>Choose Date</label>
                    <input class="form-control" type="date" name="date" id="roomScheduleDate" required>
                </div>
                <div class="form-group">
                    <label>Teacher Id</label>
                    <input class="form-control" type="text" name="teacherid" id="roomTeacherId" required>
                </div>
                <div class="form-group">
                    <label>Time</label>
                    @* <input class="form-control" type="text" name="email" id="fname" required>*@
                    <select name="scheduleTime" id="roomScheduleTime" class="form-control">
                        <option value="9.00">9.00</option>
                        <option value="9.55">9.55</option>
                        <option value="11.05">11.05</option>
                        <option value="01.00">01.00</option>
                        <option value="02.00">02.00</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <input class="form-control" type="text" name="subject" id="roomScheduleSubject" required>
                </div>
                <div class="form-group">
                    <label>Room Id</label>
                    <input class="form-control" type="text" name="roomid" id="roomId" required>
                </div>
                <div class="form-group">
                    <label>Batch</label>
                    @*  <input class="form-control" type="time" name="batch" id="batch" required>*@
                    <select name="scheduleTime" id="batch" class="form-control">
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="B3">B3</option>
                        <option value="B4">B4</option>
                        <option value="B5">B5</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-block btn-primary" id="addRoomSchedule">ADD</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#viewroomschedule").hide();
            $("#viewstudentschedule").hide();

            //GetRoom
            $.ajax({
                url: '/Room/GetRoom',
                type: 'get',
                dataType: 'json',
                success: function (result) {
                    //debugger
                    if (result) {
                        var bat = ' <tbody>';
                        for (var i = 0; i < result.length; i++) {

                            bat += '<tr class="tr-shadow">< td > <label class="au-checkbox"><input type="checkbox"><span class="au-checkmark"></span></label></td><td>' + (i + 1) + '</td><td>' + result[i].roomId + '</td> <td>' + result[i].roomName + '</td><td><button class="btn btn-danger" style="margin-left:-200px" onclick="showviewschedule(' + result[i].roomId + ')"><i class="fa fa-eye"></i>View Schedules</button></td></tr > ';
                        }
                        bat += '</tbody>'

                        $('#getRoom').append(bat);

                    }
                    else {
                        alert("failed to get data");
                    }

                },

            });


            $.ajax({
                url: '/Room/GetRoomSchedule',
                type: 'get',
                dataType: 'json',
                success: function (result) {
                    //debugger
                    if (result) {
                        var bat = ' <tbody>';
                        for (var i = 0; i < result.length; i++) {
                            bat += '<tr class="tr-shadow">< td > <label class="au-checkbox"><input type="checkbox"><span class="au-checkmark"></span></label></td><td>' + (i + 1) + '</td><td>' + result[i].roomScheduleId + '</td><td>' + result[i].teacherId + '</td> <td>' + result[i].roomScheduleDate + '</td> <td>' + result[i].roomScheduleTime + '</td><td>' + result[i].roomScheduleSubject + '</td><td><button  class="btn btn-danger" style="margin-left:0px" onclick="showstudentschedule(' + result[i].roomId + ',' + result[i].roomScheduleId + ');"><i class="fa fa - eye"></i>View Students</button></td></tr > ';
                        }
                        bat += '</tbody>'

                        $('#getRoomSchedule').append(bat);

                    }
                    else {
                        alert("failed to get data");
                    }

                },

            });

            $("#addRoom").click(function () {
                var rname = $("#rname").val();
                alert(rname);
                $.ajax({
                    url: '/Room/AddRoom',
                    type: 'post',
                    dataType: 'json',
                    data:
                    {
                        RoomName: rname,
                    },

                    success: function (result) {
                        alert(result);
                        alert("Successfully inserted Room");

                    },

                });

            });

            $("#addRoomSchedule").click(function () {
                var rdate = $("#roomScheduleDate").val();
                var rteacherid = $("#roomTeacherId").val();
                var rtime = $("#roomScheduleTime").val();
                var rsub = $("#roomScheduleSubject").val();
                var rid = $("#roomId").val();
                var rbatch = $("#batch").val();
                //alert(rdate);
                //alert(rtime);
                //alert(rsub);
                //alert(rid);
                //alert(rteacherid);
                alert(rbatch);


                $.ajax({
                    url: '/Student/GetStudentByBatch',
                    type: 'get',
                    dataType: 'json',
                    data:
                    {
                        Batch: rbatch,
                    },

                    success: function (result) {
                        alert(result);
                        alert("Successfully inserted Room");

                    },

                });

            });



        });


        function showtest() {
            $('#test-form').animate({ top: '15%' }, 500);
            $('#test-form-div').animate({ top: '20%' }, 500);
            $('.account-dropdown').hide();
            document.getElementById("overlay").style.display = "block";
        }
        function hidetest() {
            $('#test-form').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }

        function showsetting() {
            $('#setting').animate({ top: '15%' }, 500);
            $('.account-dropdown').hide();
            document.getElementById("overlay").style.display = "block";
        }
        function hidesetting() {
            $('#setting').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }

        function showmoresetting() {
            $('#moresetting').animate({ top: '15%' }, 500);
            $('.account-dropdown').hide();
            document.getElementById("overlay").style.display = "block";
        }
        function hidemoresetting() {
            $('#moresetting').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }


        function showschedule() {
            $('#schedule').animate({ top: '12%' }, 500);
            document.getElementById("overlay").style.display = "block";
        }
        function hideschedule() {
            $('#schedule').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }

        function search(string) {
            window.find(string);
        }


        function showviewschedule(roomid) {
            $("#viewroom").hide();
            $("#viewstudentschedule").hide();


            //alert(roomid);
            $.ajax({
                url: '/RoomSchedule/GetRoomSchedule',
                type: 'get',
                dataType: 'json',
                data:
                {
                    RoomId: roomid
                },
                success: function (result) {

                    $("#viewroomschedule").show();
                    if (result) {
                        var bat = ' <tbody>';
                        for (var i = 0; i < result.length; i++) {


                            //showstudentschedule(' + result[i].roomId + ')

                            bat += '<tr class="tr-shadow">< td > <label class="au-checkbox"><input type="checkbox"><span class="au-checkmark"></span></label></td><td>' + (i + 1) + '</td><td>' + result[i].roomScheduleId + '</td><td>' + result[i].teacherId + '</td> <td>' + result[i].roomScheduleDate + '</td> <td>' + result[i].roomScheduleTime + '</td><td>' + result[i].roomScheduleSubject + '</td><td><button  class="btn btn-danger" style="margin-left:0px" onclick="showstudentschedule(' + result[i].roomId + ',' + result[i].roomScheduleId + ');"><i class="fa fa - eye"></i>View Students</button></td></tr > ';

                        }
                        bat += '</tbody>'

                        $('#getRoomSchedule').append(bat);

                    }
                    else {
                        alert("failed to get data");
                    }

                },

            });
        }


        function showadd() {
            $('#add').animate({ top: '12%' }, 500);
            document.getElementById("overlay").style.display = "block";
        }

        function showaddSchedule() {
            $('#addSchedule').animate({ top: '12%' }, 500);
            document.getElementById("overlay").style.display = "block";

        }
        function hidechangeschedule() {
            $('#addSchedule').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }

        function hideadd() {
            $('#add').animate({ top: '-500%' }, 500);
        }

        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }

        function showstudentschedule(roomid, roomsheduleid) {
            $("#viewroom").hide();
            $("#viewroomschedule").hide();


            //alert(roomsheduleid);

            $.ajax({
                url: '/RoomSchedule/GetRoomStudents',
                type: 'get',
                dataType: 'json',
                data:
                {
                    RoomId: roomid,
                    RoomSheduleId: roomsheduleid,
                },
                success: function (result) {

                    $("#viewstudentschedule").show();
                    if (result) {
                        var bat = ' <tbody>';
                        for (var i = 0; i < result.length; i++) {
                            bat += '<tr class="tr-shadow">< td > <label class="au-checkbox"><input type="checkbox"><span class="au-checkmark"></span></label></td><td>' + (i + 1) + '</td><td>' + result[i].studentId + '</td><td class="desc"><img src="' + result[i].studentImg + '"/></td> <td>' + result[i].studentName + '</td> <td>' + result[i].batch + '</td><td> ';
                        }
                        bat += '</tbody>'

                        $('#getstudentSchedule').append(bat);

                    }
                    else {
                        alert("failed to get data");
                    }

                },

            });
        }


        function deleteroom(a) {
            alert(a);
            var delid = a;
            $.ajax({

                url: '/Room/RoomDeleteId',
                type: 'post',
                dataType: 'json',
                data:
                {
                    id: delid,
                },
                success: function (result) {

                    alert("deleted");
                    location.reload();
                },
            });
        }



        function deleteroomschedule(a) {
            alert(a);
            var delid = a;
            $.ajax({

                url: '/RoomSchedule/RoomScheduleDeleteId',
                type: 'post',
                dataType: 'json',
                data:
                {
                    id: delid,
                },
                success: function (result) {
                    alert(" RoomSchedule deleted");
                    location.reload();
                },
            });
        }
    </script>
}


@section Styles{
    <style>
        #test-form {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        #setting {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #moresetting {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #schedule {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
            overflow: auto;
        }

        #add {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
            overflow: auto;
        }

        #addSchedule {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
            overflow: auto;
        }

        #test-form-div {
            position: fixed;
            top: -500%;
            max-width: 1500px;
            max-height: 1500px;
            min-width: 1500px;
            min-height: 1500px;
            background-color: black;
        }

        form.example input[type=text] {
            padding: 8px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 70%;
            height: 60%;
            background: white;
        }

        form.example button {
            float: left;
            width: 20%;
            height: 70%;
            padding: 5px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

            form.example button:hover {
                background: #0b7dda;
            }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
}







